@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.title-head{
    text-align: center;
}

.main-content{
    padding: 20px;
}
.main-content h2{
    color: red;
}
.main-content ul{
    list-style: none;
}
.price{
    font-weight: 500;
}
#prezzo{
    font-weight: 400;
}